<div class="container">

    <div class="row bs-wizard" style="border-bottom:0;">
        <div ng-repeat="step in steps"
             ng-class="{ active: step.number == currentStep.number, complete: currentStep.number > step.number, disabled: currentStep.number < step.number }"
             class="col-xs-{{ 12 / steps.length }} bs-wizard-step">
            <div class="text-center bs-wizard-stepnum">Step {{step.number}}</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">{{step.description}}</div>
        </div>
    </div>

    <div class="alert alert-danger" ng-show="errorMessage">
        {{errorMessage}}
    </div>

    <div class="animate-switch-container" ng-switch on="currentStep.number">
        <div class="animate-switch" ng-switch-when="1">
            <div class="jumbotron">
                <h1>Welcome to Kha!</h1>
                <p>
                    You're almost done. Just a few most setup steps to go through and you'll be able to use your Home Automation solution.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" autofocus ng-click="nextStep()">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
                </p>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="2">
            <div ng-include="'partials/users/create.html'"></div>
            <div>
                <button ng-click="previousStep()" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
                <button ng-click="createUser()"
                        ng-disabled="!validForm"
                        type="submit"
                        class="btn btn-primary">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="3">
            <div ng-include="'partials/devices/create.html'"></div>
            <div>
                <button ng-click="previousStep()" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
                <button ng-click="createDevice()"
                        ng-disabled="!validForm"
                        type="submit"
                        class="btn btn-primary">
                    Setup my first device
                </button>
            </div>
        </div>
    </div>

</div>