
<!-- content displayed if the Hub has already been configured properly -->
<div ng-hide="!hasUser">
    <a href="#login">Login</a>
</div>

<!-- content displayed if this is a fresh installation of the Hub -->
<div ng-hide="hasUser" class="container">

    <div class="row bs-wizard" style="border-bottom:0;">
        <div ng-repeat="step in steps"
             ng-class="{ active: step.number == currentStep.number, complete: currentStep.number > step.number, disabled: currentStep.number < step.number }"
             class="col-xs-{{ 12 / steps.length }} bs-wizard-step">
            <div class="text-center bs-wizard-stepnum">Step {{step.number}}</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">{{step.description}}</div>
        </div>
    </div>

    <div class="animate-switch-container" ng-switch on="currentStep.number">
        <div class="animate-switch" ng-switch-when="1">
            Welcome screen...
            <div>
                <button ng-click="nextStep()" class="btn btn-primary">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="2">
            <div ng-include="'partials/users/create.html'"></div>
            <div>
                <button ng-click="previousStep()" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
                <button ng-click="createUser()"
                        ng-disabled="!validForm"
                        class="btn btn-primary">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="3">
            Setup first device/sensor screen...
            <div>
                <button ng-click="previousStep()" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            </div>
        </div>
    </div>

</div>