<form name="createDeviceForm" novalidate role="form" ng-controller="CreateDeviceController">
    <div class="form-group has-feedback" ng-class="{ 'has-error': !createDeviceForm.name.$valid }">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" ng-model="device.name" required autofocus class="form-control"/><br/>
    </div>

    <!--<div class="form-group has-feedback" ng-class="{ 'has-error': !createDeviceForm.name.$valid }">-->
        <!--<label for="type">Type:</label>-->
        <!--<input id="type" name="type" type="text" ng-model="device.type" required class="form-control"/><br/>-->
    <!--</div>-->

    <ul class="supported-devices">
        <li ng-repeat="device in supportedDevices"
            ng-click="selectDevice(device.type)"
            ng-class="{'device-metadata': true, 'device-selected': deviceSelected(device)}">
            <img src="img/devices/{{device.logo}}" alt="{{device.name}}" class="logo"/>
            {{device.name}} ({{device.sensors.length}} sensor(s)).
            <ul>
                <li ng-repeat="sensor in device.sensors">
                    {{sensor.name}} (unit: {{sensor.unit}})
                </li>
            </ul>
        </li>
    </ul>

    <pre>device = {{device | json}}</pre>
</form>