Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Jerome Bernard <jerome.bernard@gmail.com>
Description: Kalixia HA Weather Underground Support
Distribution: development
