<form name="createUserForm" novalidate role="form" ng-controller="CreateUserController">
    <div class="form-group has-feedback" ng-class="{ 'has-error': !createUserForm.username.$valid }">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" ng-model="user.username" required class="form-control"/><br/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="createUserForm.username.$valid"></span>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error': !createUserForm.password.$valid }">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" ng-model="user.password" required class="form-control"/><br/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="createUserForm.password.$valid"></span>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error': !createUserForm.firstName.$valid }">
        <label for="firstName">Firstname:</label>
        <input id="firstName" name="firstName" type="text" ng-model="user.firstName" required class="form-control"/><br/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="createUserForm.firstName.$valid"></span>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error': !createUserForm.lastName.$valid }">
        <label for="lastName">Lastname:</label>
        <input id="lastName" name="lastName" type="text" ng-model="user.lastName" required class="form-control"/><br/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="createUserForm.lastName.$valid"></span>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error': !createUserForm.email.$valid }">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" ng-model="user.email" required class="form-control"/><br/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="createUserForm.email.$valid"></span>
    </div>

    <pre>user = {{user | json}}</pre>
</form>