# Base URL of the Eco Device
url: http://localhost

# Enable these settings if your EcoDevice is protected with a login & password
#authentication:
#  username: admin
#  password: password

power1:
  name: Téléinfo 1
  enabled: true

power2:
  name: Téléinfo 2
  enabled: false

counter1:
  name: Water
  enabled: false

counter2:
  name: Gas
  enabled: false

polling:
  interval: 15s